<ul id="slide-out" class="side-nav fixed">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
            <a class="collapsible-header">Reportes OGX<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#!">Resultados</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="#!">Creciemiento</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="#!">Cooperaciones</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="#!">Impacto</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </li>
    <li><div class="divider"></div></li>
    <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header" href="/reportes_ur">
                <i class="material-icons">school</i>Reportes UR</a>
        </li>
    </ul>
    </li>
    <li><div class="divider"></div></li>
    <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li>
        <a class="collapsible-header">Reportes IGX<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="#!">Resultados</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!">Creciemiento</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!">Cooperaciones</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!">Impacto</a></li>
            </ul>
        </div>
        </li>
    </ul>
    </li>
    <li><div class="divider"></div></li>
</ul>